/* ROOT */
:root {
    --color-primary-light-blue: rgb(171, 196, 216);
    --color-primary-dark-blue: rgba(18,60,105,0.8);
    --color-primary-white: #eee2dc;
    --color-primary-grey: #bab2b5;
    --color-primary-dark-pink: #ac3b61;

    --line-test: 1px solid #000000;
}

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

html {
	/* This defines what 1rem is */
	font-size: 62.5%; /*1rem = 10px; 10px/16px = 62.5%*/
	
	/* @include respond(tab-land) { // width < 1200?
		font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
	}
	
	@include respond(tab-port) { // width < 900?
		font-size: 50%; //1rem = 8px, 8/16 = 50%
	}

	@include respond(phone) { // width < 600?
		font-size: 30%; //1rem = 4.8px
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px, 12/16 = 75%
	} */
}

main, header, section, footer {
    margin: 0;
    padding: 15px;
    border: var(--line-test);
    color: #ffffff;
}

main {
    background: #000000;
    padding: 0;
}

.header {
    background-color:rgba(18,60,105,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    
    backdrop-filter: blur(5px);
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: var(--color-primary-white);
}

.menu-options {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-options li a {
    font-weight: 650;
    font-size: 1.5rem;
    letter-spacing: 1;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--color-primary-white);
    border-radius: 100px;
    text-transform: uppercase;
}

.menu-options li a:hover {
    background-color: var(--color-primary-dark-pink);
    border-radius: 100px;
}

.twitter-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-primary-white);
    background: transparent;
}



/* HERO */
.hero {
    /* Test Properties */
    background-image: linear-gradient(
        to right bottom,
            rgba(18,60,105,0.95),
            rgba(18,60,105,0.95)),
        url(../img/background-5070834_960_720.webp); 
    
    /* Flex Properties */
    display: flex;
    flex-direction: column;
    align-items: center;

    
    transform: skewY(-5deg);
    margin-top: -8.5rem;
    height: 99vh;
    padding: 25rem 0;
}

.hero-text, .hero-subtext {
    font-size: 4rem;
    font-weight: 650;
    line-height: 1.26;
    letter-spacing: -1.75px;
    color: var(--color-primary-white);

    transform: skewY(5deg);
}



/* SEARCH */
.search-field {
    /* Test Properties */
    /* background-color: orangered; */

    padding: 10rem;

    transform: skewY(5deg);
}

.input {
    border-color: var(--color-primary-white);
    background-color: var(--color-primary-white);
    border-radius: 100px;
    padding: 1rem;
}

input::placeholder {
    color: var(--color-primary-dark-pink);
    font-weight: 550;
}

.search-button {
    background-color: orangered;
}

.search-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-primary-dark-pink);
    background: transparent;
}





/* CONTENT */
.content {
    background: var(--color-primary-white);

    padding: 25rem 2rem 15rem 2rem;
    margin-top: -8.5rem;
}

.footer {
    border: var(--line-test);
    background: #616161;
}