/* ROOT */
:root {
    --color-primary-light-blue: rgb(171, 196, 216);
    --color-primary-dark-blue: rgba(18,60,105,0.8);
    --color-primary-white: #eee2dc;
    --color-primary-grey: #bab2b5;
    --color-primary-dark-pink: #ac3b61;

    --line-test: 1px solid #000000;
}

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

body {
    font-family: 'Cherry Cream Soda', cursive;
}

html {
	/* This defines what 1rem is */
	font-size: 62.5%; /*1rem = 10px; 10px/16px = 62.5%*/
	
	/* @include respond(tab-land) { // width < 1200?
		font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
	}
	
	@include respond(tab-port) { // width < 900?
		font-size: 50%; //1rem = 8px, 8/16 = 50%
	}
	@include respond(phone) { // width < 600?
		font-size: 30%; //1rem = 4.8px
	}
	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px, 12/16 = 75%
	} */
}

main, header, section, footer {
    margin: 0;
    padding: 15px;
    /* border: var(--line-test); */
    color: #ffffff;
}

main {
    background: #000000;
    padding: 0;
}

a {
    text-decoration: none;
}



/* HEADER */
.header {
    background-color:rgba(18,60,105,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
    backdrop-filter: blur(5px);
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: var(--color-primary-white);
}

.menu-options {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-options li a {
    font-weight: 650;
    font-size: 1.25rem;
    letter-spacing: 1;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--color-primary-white);
    border-radius: 100px;
    text-transform: uppercase;
}

.menu-options li a:hover {
    background-color: var(--color-primary-dark-pink);
    border-radius: 100px;
}

.icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-primary-white);
    background: transparent;
    transform: translate(-0.5px, 2.5px);
}

.logo {
    margin-left: 1rem;
    height: 4.5rem;
    width: 9rem;
}


/* Search */
.search-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
}

.input {
    background-color: var(--color-primary-white);
    border: none;
    border-radius: 100px;
    padding: 1.5rem 1.5rem;
    transition: all .2s;
    margin-right: -3rem;
    width: 80%;
}

.input:focus {
    outline: none;
    width: 100%;
}

input::placeholder {
    color: var(--color-primary-dark-pink);
    font-weight: 550;
    font-size: 1.50rem;
    font-family: 'Cherry Cream Soda', cursive;
}

.search-button {
    border: none;
}


.search-button:focus {
    outline: none;
}

.search-button:active {
    transform: translateY(2px);
}

.search-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary-dark-pink);
    background: var(--color-primary-white);

    /* transform: translate(-0.5px, 2.5px); */
}


/* HERO */
.hero {
    /* Test Properties */
    background-image: linear-gradient(
        to right bottom,
            rgba(18,60,105,0.95),
            rgba(18,60,105,0.95)),
        url(../img/background-5070834_960_720.webp); 
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 95vh;
    padding: 7rem 7rem;
}

.hero-text, .hero-subtext {
    font-size: 4rem;
    font-weight: 650;
    line-height: 1.26;
    letter-spacing: -1.75px;
    color: var(--color-primary-white);
    }

.slideshow {
    padding: 3rem;
    height: 95%;
    width: 90%;
    border-radius: 40px;
    transition: all 5s;
}


/* Text Banner */
.marquee { 
    color: #000000; 
    background: var(--color-primary-grey);
    width: 100%;
    height: 10vh;
    line-height: 60px;
    overflow: hidden;
    position: relative;
    /* border: 5px solid grey; */
}

.text {
    position: absolute;
    top: 0;
    white-space: nowrap;
    height: 120px;
    font-size: 30px;
    animation-name: slide;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}


/* CONTENT */
.content {
    background-color: var(--color-primary-white);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: grid;
    grid-template-rows: 1px 45rem 45rem;
    grid-row-gap: 20rem; */

    padding: 10rem;
}


/* Cards */
.award-books {
    background-color: var(--color-primary-white);
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    padding-bottom: 10px;
}

.list-icon {
    height: 4.5rem;
    width: 9rem;
    stroke: var(--color-primary-white);
    background: var(--color-primary-dark-pink);
    border-radius: 20px 5px 20px;
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}

.list-icon:hover {
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025);
    background-color: #8F1E49; 
}

.list-button,
.login-button,
.signup-button {
    background-color: var(--color-primary-dark-pink);
    border-radius: 100px;
    height: 4.5rem;
    width: 15rem;
    text-decoration: none;
    /* border-radius: 5px 20px 5px; */
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}

.login-button {
    margin: 1rem;
}

.list-button:hover,
.login-button:hover,
.signup-button:hover {
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025);
    /* box-shadow: 1px 7px 13px 0px rgba(67,0,17,0.13);
    transform: scale(1.025); */
    background-color: #8F1E49;
}

.list-button__text {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-primary-white);
    text-transform: uppercase;
    font-family: 'Cherry Cream Soda', cursive;
}

.cards {
    background-color: var(--color-primary-grey);
    min-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.card-award {
    background-color: var(--color-primary-light-blue);
    min-width: 200px;
    margin: 5px;
}

.card-cover {
    min-width: 150px;
    height: 300px;
    margin: 0.25em;
    border-radius:4px;
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.card-cover:hover {
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025);
}

.seasonal-books, 
.epidemic-books,
.horror-books {
    background-color: var(--color-primary-white);
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    padding-top: 10rem;
    padding-bottom: 10px;
}

.award-books__text,
.seasonal-books__text, 
.epidemic-books__text,
.horror-books__text {
    font-size: 28px;
    color: var(--color-primary-dark-blue);    
}

.seasonal-cards {
    background-color: green;
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto;
}

.seasonal-cards::-webkit-scrollbar {
    display: none;
}

.card-seasonal {
    background-color: var(--color-primary-light-blue);
    min-width: 200px;
    margin: 5px;
}


/* FOOTER */
footer {
    background: var(--color-primary-dark-blue);
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    color: var(--color-primary-white);
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 100px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-link:hover {
    background-color: var(--color-primary-dark-pink);
}






/* HISTORY PAGE */


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

/* MEDIA QUERIES */

/* Mobile Devices */
@media (max-width: 767px) {
    .menu {
        display: none;
    }
}