/* ROOT */
:root {
    --color-primary-light-blue: rgb(171, 196, 216);
    --color-primary-dark-blue: rgba(18,60,105,0.8);
    --color-primary-white: #eee2dc;
    --color-primary-grey: #bab2b5;
    --color-primary-dark-pink: #ac3b61;

    --line-test: 1px solid #000000;
}

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

body {
    font-family: 'Cherry Cream Soda', cursive;
}

html {
	/* This defines what 1rem is */
	font-size: 62.5%; /*1rem = 10px; 10px/16px = 62.5%*/
	
	/* @include respond(tab-land) { // width < 1200?
		font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
	}
	
	@include respond(tab-port) { // width < 900?
		font-size: 50%; //1rem = 8px, 8/16 = 50%
	}
	@include respond(phone) { // width < 600?
		font-size: 30%; //1rem = 4.8px
	}
	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px, 12/16 = 75%
	} */
}

main, header, section, footer {
    margin: 0;
    padding: 15px;
    /* border: var(--line-test); */
    color: #ffffff;
}

main {
    background: #000000;
    padding: 0;
}



/* HEADER */
.header {
    background-color:rgba(18,60,105,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
    backdrop-filter: blur(5px);
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: var(--color-primary-white);
}

.menu-options {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-options li a {
    font-weight: 650;
    font-size: 1.5rem;
    letter-spacing: 1;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--color-primary-white);
    border-radius: 100px;
    text-transform: uppercase;
}

.menu-options li a:hover {
    background-color: var(--color-primary-dark-pink);
    border-radius: 100px;
}

.icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-primary-white);
    background: transparent;
    transform: translate(-0.5px, 2.5px);
}

.logo {
    margin-left: 1rem;
    height: 4.5rem;
    width: 9rem;
}



/* HERO */
.hero {
    /* Test Properties */
    background-image: linear-gradient(
        to right bottom,
            rgba(18,60,105,0.95),
            rgba(18,60,105,0.95)),
        url(../img/background-5070834_960_720.webp); 
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 85vh;
    padding: 10rem 0;
}

.hero-text, .hero-subtext {
    font-size: 4rem;
    font-weight: 650;
    line-height: 1.26;
    letter-spacing: -1.75px;
    color: var(--color-primary-white);
}



/* TEXT BANNER */
.marquee { 
    color: var(--color-primary-dark-pink); 
    background: var(--color-primary-white);
    width: 100%;
    height: 15vh;
    line-height: 120px;
    overflow: hidden;
    position: relative;
    border: var(--line-test);
}

.text {
    position: absolute;
    top: 0;
    white-space: nowrap;
    height: 120px;
    font-size: 30px;
    animation-name: slide;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}



/* SEARCH */
.search-field {
    /* Test Properties */
    /* background-color: orangered; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
}

.input {
    background-color: var(--color-primary-white);
    border: none;
    border-radius: 100px;
    padding: 1.5rem 1.5rem;
    transition: all .2s;
    margin-right: -3rem;
    width: 80%;
}

.input:focus {
    outline: none;
    width: 100%;
}

input::placeholder {
    color: var(--color-primary-dark-pink);
    font-weight: 550;
    font-size: 1.50rem;
    font-family: 'Cherry Cream Soda', cursive;
}

.search-button {
    border: none;
}


.search-button:focus {
    outline: none;
}

.search-button:active {
    transform: translateY(2px);
}

.search-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary-dark-pink);
    background: var(--color-primary-white);

    /* transform: translate(-0.5px, 2.5px); */
}


/* HERO */
.hero {
    /* Test Properties */
    background-image: linear-gradient(
        to right bottom,
            rgba(18,60,105,0.95),
            rgba(18,60,105,0.95)),
        url(../img/background-5070834_960_720.webp); 
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 85vh;
    padding: 10rem 0;
}

.hero-text, .hero-subtext {
    font-size: 4rem;
    font-weight: 650;
    line-height: 1.26;
    letter-spacing: -1.75px;
    color: var(--color-primary-white);
    }



/* TEXT BANNER */
.marquee { 
    color: var(--color-primary-dark-pink); 
    background: var(--color-primary-white);
    width: 100%;
    height: 15vh;
    line-height: 120px;
    overflow: hidden;
    position: relative;
    border: var(--line-test);
}

.text {
    position: absolute;
    top: 0;
    white-space: nowrap;
    height: 120px;
    font-size: 30px;
    animation-name: slide;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
    from { left:100%; transform: translate(0, 0); }
    to { left: -100%; transform: translate(-100%, 0); }
}


/* CONTENT */
.content {
    background: var(--color-primary-white);
    
    padding: 25rem 2rem 15rem 2rem;
    margin-top: -8.5rem;
}



/* Carousel */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
}

.carousel-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel-slide:nth-child(even) {
    background-color: #99f;
}

.carousel-slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2rem;
}

.carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel-snapper {
        animation-name: toNext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel-slide:last-child
    .carousel-snapper {
        animation-name: toStart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel-snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel-snapper,
.carousel:focus-within
.carousel-snapper {
    animation-name: none;
}

/* .carousel-navigation {
    
} */



@keyframes toNext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes toStart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.footer {
    border: var(--line-test);
    background: #616161;
}


/* MEDIA QUERIES */

/* Mobile Devices */
@media (max-width: 767px) {
    .menu {
        display: none;
    }
}